th {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	background-color: #CCCCCC;
	border: none;
	text-align: center;

}
table {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
td {
	font-family: Arial, Helvetica, sans-serif;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
}
